* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border box;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.middleContent{
    text-align: center;
}