.CenterOfExcellence {
    position: relative;
    top: 35%;
    left: 0%; 
    background-color: #323232;
    width:97%;
    height: 10vh;
    color: #ffc107;
    padding: 20px;
    text-align: center;
    justify-content: center;
    border-bottom: solid 5px #ffc107;
}