/* .wrapper {
    position: relative;
    background: grey;
} */
.wrapper {
    position: relative;
    width: 1349px;
    height: 500px;
    overflow: hidden;
  }
  
  .animated-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  
  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    33.33% {
      opacity: 1;
    }
    66.66% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .animated-image:nth-child(1) {
    animation: fadeInOut 12s infinite;
    animation-duration: 6s;
    animation-delay: 12s;
  }

  .animated-image:nth-child(2) {
    animation: fadeInOut 12s infinite;
    animation-delay: 3s;
  }
  
  .animated-image:nth-child(3) {
    animation: fadeInOut 12s infinite;
    animation-delay: 6s;
  }
 
  
 /* header {
    position: fixed;
    top: 0;
} */

.aboutSection { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


h1 {
    padding: 15px 0;
    text-align: center;
    width: 100%;
    filter: drop-shadow(2px 2px 2px rgb(58, 3, 117)));
    color: black;
}

.aboutSection p {
    width: 40%;
    font-size: 1.2vw;
    text-align: justify;
    color: black;
}

.aboutSection p a {
    text-decoration: none;
    border-radius: 50px;
    margin-top: 20px;
    padding: 12px 18px;
    border: 2px solid black;
    font-weight: 900;
    color: black;
    transition: 0.3s ease-in-out;
}

.aboutSection p a:hover {
    background-color: blue;
    color: black;
    border: 2px solid black;
}

.aboutSection img,
p {
    padding: 0 2.5vw;
}

.coursesSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    margin-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 50px;
    outline: 1px solid black;
    height: 260px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px black;
    transition: 0.3s ease-in-out;
    color: black;
}

.card:hover {
    box-shadow: none;
    box-shadow: -2px -2px 10px black;
    cursor: pointer;
}

.card img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card,
.card img {
    width: 350px;
}

.card h2 {
    font-size: 17px;
    text-align: center;
    padding: 10px 0;
    font-weight: 800;
}

.card p {
    font-size: 14px;
    text-align: center;
}


.testimonalSection {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.testimonalSection img {
    padding: 10px 0;
    width: 500px;
}

@media only screen and (max-width: 1000px){
    .aboutSection p{
        font-size: 20px;
        padding: 15px 0;
    }
}


@media only screen and (max-width: 600px){
    .aboutSection img{
        width: 80%;
    }
    .aboutSection p{
        width: 80%;
    }
    .wrapper{
        margin-top: 470px;
    }
    .testimonalSection img{
        width: 80%;
    }
    h1{
        font-size: 20px;
    }
}


@media only screen and (max-width: 460px){
    .wrapper{
        margin-top: 400px;
    }
    .aboutSection p{
        font-size: 15px;
    }
    .card{
        width: 70%;
        height: auto;
    }
    .card img{
        width: 100%;
    }
}